#footer {
  background: #13121a;
  color: #fff;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

#footer .copyright p {
  padding-top: 2rem;
  text-align: center;
}

#footer .logo {
  text-align: center;
}

#footer .logo img {
  width: 30%;
}

#footer .icons {
  margin-top: 2rem;
  align-items: center;
  display: flex;
}

#footer .icons p {
  padding-right: 1rem;
}

#footer .icons img {
  width: 7%;
  padding-left: 0.2rem;
  margin-top: -1rem;
}
